pytest == 7.2.2
pytimeparse == 1.1.8
pytest-mock == 3.10.0
pytest-cov == 4.0.0

autopep8 == 2.0.2
pylint == 2.17.0
pylint-quotes == 0.2.3
mypy == 1.1.1
bandit == 1.7.5
mypy_boto3_s3 == 1.26.97
mypy_boto3_sqs == 1.26.0
moto[s3,sqs] == 4.1.6
pytest-lazy-fixture == 0.6.3

# install the app itself
-e .
