pytest == 7.2.2
pytest-cov == 4.0.0
pytest-mock == 3.10.0

autopep8 == 2.0.2
pylint == 3.0.3
mypy == 1.8.0
types-requests ~= 2.31.0
bandit == 1.7.5

-e ../base[testing]

# install the module itself
-e .
