pytest == 7.2.2
pytest-cov == 4.0.0
pytest-mock == 3.10.0

autopep8 == 2.0.2
pylint == 2.17.0
pylint-quotes == 0.2.3
mypy == 1.1.1
types-requests ~= 2.31.0
bandit == 1.7.5

-e ../base[testing]

# install the module itself
-e .
