[tool.coverage.run]
omit = ["*/__init__.py"]
timid = true

[tool.pytest.ini_options]
python_files = ["test_*.py"]
addopts = "-m unit -v --cov-config=.coveragerc --cov=metadata --cov-report=xml"
markers = [
    "unit",
    "integration"
]

[tool.autopep8]
max_line_length = 120
recursive = true
aggressive = 3
ignore = ["E231"] # Avoids this bug https://github.com/hhatto/autopep8/issues/712

[tool.pylint]
recursive = true
check-quote-consistency = true
ignored-modules = "setuptools"
# We need to include base path in pylint config
init-hook = "import sys; sys.path.append('../base');"

[tool.pylint.format]
# Maximum number of characters on a single line.
max-line-length = 120

[tool.mypy]
files = [
    "metadata/**/*.py",
    "tests/**/*.py"
]
# mypy per-module options:
[[tool.mypy.overrides]]
module = "base.*"
ignore_missing_imports = true
[[tool.mypy.overrides]]
module = "pytimeparse"
ignore_missing_imports = true
[[tool.mypy.overrides]]
module = "setuptools"
ignore_missing_imports = true
[[tool.mypy.overrides]]
module = "pymongo.*"
ignore_missing_imports = true
[[tool.mypy.overrides]]
module = "bson.*"
ignore_missing_imports = true
[[tool.mypy.overrides]]
module = "moto"
ignore_missing_imports = true
[[tool.mypy.overrides]]
module = "flask_restx"
ignore_missing_imports = true
[[tool.mypy.overrides]]
module = "mongoengine.*"
ignore_missing_imports = true

[tool.bandit]
exclude_dirs = ["tests"]
skips = ["B101"]
