wheel == 0.37.1
pytest
pytest_cov
pytest-mock
mongomock == 4.1.2

autopep8
pylint
pylint-quotes
mypy
types-PyYAML == 6.0.12
types-pytz == 2022.4.0.0
types-requests
types-waitress
bandit
moto==1.3.13

# install the app itself
-e .
