# Git
.git
.gitignore
.gitattributes


# CI
.github/

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/.mypy_cache/
**/.pytest_cache/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
**/node_modules/


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Virtual environment
.env
.venv
.venv/
venv/

# VS Code
.vscode/

# Misc
.localdev
**/tests
**/test
*/postman*
