anonymize-docker-compose.yaml
metadata-docker-compose.yaml
sdm-docker-compose.yaml
__pycache__
.pytest_cache
.mypy_cache
build
*.egg-info
.coverage
.coverage*
coverage.xml
.localdev/*.mp4
.localdev/*.json
.mypy_cache
.venv
**/.angular/cache/
bandit_report.json
.devcontainer/.env
.DS_Store
