boto3 ~= 1.28.82
pytz == 2022.6
requests == 2.31.0
datetime == 5.1
PyYAML == 6.0.1
kink == 0.6.6
pydantic == 2.4.2
mypy_boto3_sqs ~= 1.28.55
mypy_boto3_s3 ~= 1.28.55
mypy_boto3_sts ~= 1.28.55
-e ../base[aws,model]
