<bci-page-content>
  <div class="outerContainer">
    <div fxLayout="row" fxLayoutGap="10px" class="container" fxLayoutAlign="start center" fxFill>
      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around stretch" class="filter-box" fxFlex>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
          <label>Filter: </label>
          <input
            [(ngModel)]="queryParam"
            class="input"
            type="text"
            placeholder="'_id': {'has': 'srxdriverpr'}"
            [title]="filterHelpText"
          >
          <mat-radio-group class="query-radio-group" fxFlex="noshrink" (change)="retrieveRecordingList()" [(ngModel)]="queryLogicOperator" >
            <mat-radio-button class="playback-rate-button" value="AND">AND</mat-radio-button>
            <mat-radio-button class="playback-rate-button" value="OR">OR</mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
          <label>Order: </label>
          <input
          [(ngModel)]="sortingParam"
          class="input"
          type="text"
          placeholder="time"
          [title]="orderHelpText"
          >
          <mat-radio-group class="query-radio-group" fxFlex="noshrink" (change)="retrieveRecordingList()" [(ngModel)]="sortingOrder" >
            <mat-radio-button class="playback-rate-button" value="asc">ascending</mat-radio-button>
            <mat-radio-button class="playback-rate-button" value="dsc">descending</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <button type="button" mat-raised-button class="clean_button" (click)="retrieveRecordingList()">Query</button>
      <button type="button" mat-raised-button class="clean_button" (click)="filterLast()">Last 24 hours</button>
      <button type="button" mat-raised-button class="clean_button" (click)="filterChcEvents()">>0 CHC events</button>
      <button type="button" mat-raised-button class="clean_button" (click)="deleteInputQueryText(); retrieveRecordingList();">Clean Query</button>
    </div>
  </div>
  <mat-paginator [length]=numberOfEntries
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 50, 100]"
            [pageIndex]="page - 1"
            (page)="page = $event.pageIndex + 1; pageSize = $event.pageSize; retrieveRecordingList()"
            showFirstLastButtons="true"
            aria-label="Select page"
            class="paginator">
  </mat-paginator>
  <table class="recordings-table">
    <tr [style.top]="headerTop" class="header-row">
      <th class="column">
        <!-- <mat-icon fontIcon="bosch-ic-arrow-up" *ngIf="sortingParam == 'tenant' && sortingOrder=='asc'" style="cursor:pointer"></mat-icon>
        <mat-icon fontIcon="bosch-ic-arrow-down" *ngIf="sortingParam == 'tenant' && sortingOrder=='dsc'" style="cursor:pointer"></mat-icon>
        <span class="column-header" (click)="sortBy('tenant')" style="cursor:pointer">Tenant</span> -->
        <span class="column-header">Tenant</span>
      </th>
      <th (click)="sortBy('deviceID')" class="column" style="width: 20%">
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'deviceID' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'deviceID' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'deviceID'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Device ID</span>
        </span>
      </th>
      <th (click)="sortBy('length')" class="column">
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'length' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'length' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'length'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Length</span>
        </span>
      </th>
      <th (click)="sortBy('time')" class="column" style="width: 10%;">
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'time' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'time' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'time'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Recording Time</span>
        </span>
      </th>
      <th (click)="sortBy('resolution')" class="column" style="justify-content: center;">
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'resolution' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'resolution' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'resolution'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Resolution</span>
        </span>
      </th>
      <th (click)="sortBy('data_status')" class="column">
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'data_status' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'data_status' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'data_status'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Status</span>
        </span>
      </th>
      <th (click)="sortBy('processing_list')" class="column">
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'processing_list' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'processing_list' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'processing_list'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Algorithms</span>
        </span>
      </th>
      <th (click)="sortBy('last_updated')" class="column"  style="width: 10%">
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'last_updated' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'last_updated' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'last_updated'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Last Updated</span>
        </span>
      </th>
      <th (click)="sortBy('snapshots')" class="column" style="justify-content: center;">
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'snapshots' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'snapshots' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'snapshots'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header"># Snapshots</span>
        </span>
      </th>
      <th (click)="sortBy('number_chc_events')" class="column" >
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'number_chc_events' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'number_chc_events' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'number_chc_events'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header"># CHC events</span>
       </span>
      </th>
      <th (click)="sortBy('lengthCHC')" class="column" >
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'lengthCHC' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'lengthCHC' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'lengthCHC'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">CHC length</span>
       </span>
      </th>
      <th (click)="sortBy('max_person_count')" class="column" >
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'max_person_count' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'max_person_count' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'max_person_count'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Max person count</span>
       </span>
      </th>
      <th (click)="sortBy('variance_person_count')" class="column" >
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'variance_person_count' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'variance_person_count' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'variance_person_count'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">variance person count</span>
       </span>
      </th>
      <th (click)="sortBy('ride_detection_counter')" class="column" >
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'ride_detection_counter' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'ride_detection_counter' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'ride_detection_counter'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Number of rides</span>
       </span>
      </th>
      <th (click)="sortBy('sum_door_closed')" class="column" >
        <span class="filter-item">
          <mat-icon *ngIf="sortingParam === 'sum_door_closed' && sortingOrder==='asc'" fontIcon="bosch-ic-arrow-up"></mat-icon>
          <mat-icon *ngIf="sortingParam === 'sum_door_closed' && sortingOrder==='dsc'" fontIcon="bosch-ic-arrow-down"></mat-icon>
          <mat-icon *ngIf="sortingParam !== 'sum_door_closed'" fontIcon="bosch-ic-up-down"></mat-icon>
          <span class="column-header">Sum Door close</span>
       </span>
      </th>
    </tr>
    <tr (click)="showDetailDialog(video._id)" *ngFor="let video of videoList" [hidden]="!isLoaded || error" class="virtual-scroll-viewport list-row">
      <td class="column list-item">{{video.tenant}}</td>
      <td class="column list-item">{{video.deviceID}}</td>
      <td class="column list-item">{{video.length}}</td>
      <td class="column list-item">{{video.time}}</td>
      <td class="column list-item">{{video.resolution}}</td>
      <td class="column list-item">{{video.data_status}}</td>
      <td class="column list-item">{{video.processing_list}}</td>
      <td class="column list-item">{{video.last_updated}}</td>
      <td class="column list-item">{{video.snapshots}}</td>
      <td class="column list-item">{{video.number_chc_events}}</td>
      <td class="column list-item">{{video.lengthCHC}}</td>
      <td class="column list-item">{{video.max_person_count}}</td>
      <td class="column list-item">{{video.variance_person_count}}</td>
      <td class="column list-item">{{video.ride_detection_counter}}</td>
      <td class="column list-item">{{video.sum_door_closed}}</td>
    </tr>
  </table>
  <bci-activity-indicator [hidden]="isLoaded || error" class="loading-indicator"></bci-activity-indicator>
  <div class="error-display" [hidden]="!error">
    <label class="error-label">Error executing query: {{error}}</label>
  </div>
</bci-page-content>
