@import 'src/styles/module/dashboard';

:host {
  bci-page-content {
    display: flex;
    flex-direction: column;
  }
}

.head {
  display: flex;
  position: sticky;
  background-color: $screenBackgroundColor;
  overflow-x: auto;
  overflow-y: hidden;
  flex-shrink: 0;
  border-bottom: 2px solid black;
}

.paginator {
  background-color: #00000000;
}

.filter-item {
  display: flex;
  /* flex-direction: column; */
}

.zero-column {
  width: 0px;
}

.first-column,
.second-column,
.third-column,
.fourth-column,
.fifth-column,
.six-column,
.seven-column,
.eight-column,
.nine-column,
.ten-column,
.eleven-column {
  flex-basis: 10%;
  min-width: auto;
}

.virtual-scroll-viewport {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  margin-top: 5px;
}

.loading-indicator {
  margin-block: auto;
}

.list-row {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.list-row:hover {
  background-color: $gray90;
}

.list-item {
  height: 48px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: auto;
  
}

.upload-button {
  color: $blue45;
  cursor: pointer;
}

.upload-button:hover {
  color: $blue35;
}

.upload-button:hover span {
  text-decoration: underline;
}

.upload-button:active {
  color: $blue25;
}

.outerContainer {
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  padding: 1%;
  border: 2px solid #030000;
  box-sizing: content-box;
}

.filter-box {
  padding: 0px 10px;
}

div.container {
  color: #0c0404;
  margin-bottom: 10px;
}

div.container > div {
  height: 100%;
  width: 100%;
  background-color: rgb(248, 248, 248);
  border: 2px solid #030000;
}

.input{
  background-color: rgb(248, 248, 248);
}

.query-radio-group {
  width: 128px;
}

.error-display {
  place-self: center;
  padding: 40px 0 0 0;
}

.error-label {
  font-size: 18px;
  font-weight: 700;
  color: red;
}