<bci-page-content>
  <h3>Multi-Factor Authentication Settings</h3>
  <div *ngIf="preferredSignInOption === 'NOMFA'">
    <div>You have not enabled Multi-Factor Authentication (MFA) so far. To setup MFA and make your account more secure, please follow the steps below.</div>
    <ol>
      <li>Download an authenticator app on your phone</li>
      <li>
        Link the authenticator app with RideCare <br />
        <qrcode *ngIf="qrCodeString !== ''" [qrdata]="qrCodeString" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        <br />
        If you cannot scan the QR code, you may also enter the following code to setup MFA manually: <span style="font-weight: bold">{{ code }}</span>
      </li>
      <li>
        Enter the TOTP token from your authenticator app<br />
        <mat-form-field style="width: 20%"> <input matInput [(ngModel)]="challenge" /></mat-form-field
        ><button style="margin-left: 10px" mat-raised-button class="custom-button" (click)="verifyChallenge()">Verify Coupling</button>
      </li>
    </ol>
  </div>
  <div *ngIf="preferredSignInOption !== 'NOMFA'">You have already enabled MFA. Your preferred sign in option is: {{ preferredSignInOption }}</div>
</bci-page-content>
