pytest == 7.2.2
pytimeparse == 1.1.8
pytest-mock == 3.10.0
pytest-cov == 4.0.0
mongomock == 4.1.2
moto[s3,sqs] ~= 4.2.7

autopep8 == 2.0.4
pylint == 3.0.3
pylint-pydantic == 0.3.0
mypy == 1.8.0
bandit == 1.7.5
python-dotenv == 1.0.0
boto3-stubs[sns,s3,sts,sqs] >= 1.34, < 2.0
mypy_boto3_sqs >= 1.34, < 2.0
mypy_boto3_s3 >= 1.34, < 2.0

# install the app itself
-e .
