@import 'src/styles/global/colors';

amplify-authenticator {
  --box-shadow: 0px;
  --border-radius: 0px;
  amplify-input {
    font-size: 200px;
  }
}

:host {
  bci-page-content {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('/assets/main-background-img/bosch-supergraphic-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
    left: 0;
  }

  bci-header {
    bci-header-container {
      header-title {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login .inner-box {
  background: rgba(255, 255, 255, 1);
  padding: 2rem 2rem 1rem;
  margin: 0 auto 1rem;
  font-size: 1rem;
}

.login-font {
  font-size: 2rem;
  margin-top: 0;
}

.login .inner-box button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 16px;
  border: none;
  width: 100%;
}

.login-link {
  padding-top: 1rem;
}

.footer-bar {
  border-top: 1px solid #dfdfe0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  background-color: $white;
 
}

.footer-link {
  padding: 8px 0;
}
