<bci-content>
  <bci-header header="RideCare"> </bci-header>
  <bci-page-content class="center">
    <amplify-authenticator hideDefault="true" usernameAlias="email">
      <amplify-sign-in header-text="RideCare - Login" slot="sign-in" usernameAlias="email" submit-button-text="Login" header-subtitle="Login">
        <div style="margin-bottom: 2rem" slot="federated-buttons">
          <div class="login-link">
            <a [routerLink] (click)="onLoginClickAzureAD()">Are you a Bosch employee? Login here</a>
          </div>
        </div>
      </amplify-sign-in>
      <amplify-sign-up [formFields]="formFields" header-text="RideCare - Account Creation" slot="sign-up" usernameAlias="email"></amplify-sign-up>
    </amplify-authenticator>
    <button mat-raised-button class="custom-button" (click)="fixLogin()">Can't see the login window? Click here</button>
    <div class="footer-bar" >
      <div style="padding: 16px 0">© Robert Bosch GmbH 2021, all rights reserved</div>
      <div style="flex-grow: 1"></div>
      <div style="display: flex; flex-wrap: wrap; flex-grow: 1; max-width: 520px; justify-content: space-between">
        <a class="footer-link" href="https://www.bosch.de/en/data-protection-notice/?prevent-auto-open-privacy-settings=1" rel="noopener noreferrer" target="_blank">{{ 'HOME.dataProtectionNotice' | translate }}</a>
        <a class="footer-link" href="https://www.bosch.de/en/corporate-information/?prevent-auto-open-privacy-settings=1" rel="noopener noreferrer" target="_blank">{{ 'HOME.imprint' | translate }}</a>
        <a class="footer-link" href="" (click)="downloadLicenseDisclosureDocument()">{{ 'HOME.legal' | translate }}</a>
        <a class="footer-link" href="https://www.bosch.de/en/legal-notice/?prevent-auto-open-privacy-settings=1" rel="noopener noreferrer" target="_blank">{{ 'HOME.legalNotice' | translate }}</a>
      </div>
    </div>
  </bci-page-content>
</bci-content>
