@import 'node_modules/@bci-web-core/common-styles/sass/bci/bosch-ic';
@import 'node_modules/@bci-web-core/common-styles/sass/bci/bci-variables';
@import 'src/styles/global/colors';

.menu-content {
  padding: 1rem;
}

::ng-deep .mat-menu-panel.menu-panel {
  max-width: none;
}

.filter-button {
  width: 100%;
  color: $linkFontColor;
}

.filter-item {
  overflow: visible;
}

.contains-input {
  width: auto;
}

input::placeholder {
  line-height: unset !important;
}
