name: PR Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master

jobs:
  pre-commit:
    name: Pre-commit checks
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Pre-commit check
      uses: pre-commit/action@v3.0.0

    - name: Check pull request title
      env:
        PR_TITLE: ${{ github.event.pull_request.title }}
      run: |
        REGEX_PR_TITLE='MC-[0-9]{4,}|NO-TICKET|Bump'
        [[ $PR_TITLE =~ $REGEX_PR_TITLE ]] && exit 0
        echo "The pull request title does not contain a ticket name." 1>&2
        exit 1

  list-all-service-directories:
    name: List directories to lint and test
    if: success() || failure() # making lint optional for now
    needs: [pre-commit]
    runs-on: ubuntu-latest
    outputs:
      python-directories: ${{ steps.list-step.outputs.python-directories }}
      javascript-directories: ${{ steps.list-step.outputs.javascript-directories }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - id: list-step
        uses: ./.github/actions/list-all-service-directories

  lint-python-projects:
    name: Lint Python
    runs-on: ubuntu-latest
    needs: [list-all-service-directories]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9.12"]
        service: ${{ fromJSON(needs.list-all-service-directories.outputs.python-directories) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: ./.github/actions/lint-python
        with:
          baseDir: ${{ matrix.service }}
          python-version: ${{ matrix.python-version }}
          voxel-pip-registry-token: ${{ secrets.FIFTYONE_TOKEN }}

  lint-javascript-projects:
    name: Lint Javascript
    runs-on: ubuntu-latest
    needs: [list-all-service-directories]
    strategy:
      fail-fast: false
      matrix:
        node-version: ["18.x"]
        service: ${{ fromJSON(needs.list-all-service-directories.outputs.javascript-directories) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: ./.github/actions/lint-javascript
        with:
          baseDir: ${{ matrix.service }}
          node-version: ${{ matrix.node-version }}
          npm-registry: https://artifactory.boschdevcloud.com/artifactory/api/npm/lab000003-bci-npm-virtual/
          npm-auth: ${{ secrets.NPM_AUTH }}
          npm-email: ${{ secrets.NPM_EMAIL }}

  run-python-sast:
    name: SAST Python
    runs-on: ubuntu-latest
    if: success() || failure() # making SAST optional for now
    needs: [list-all-service-directories]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9.12"]
        service: ${{ fromJSON(needs.list-all-service-directories.outputs.python-directories) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: ./.github/actions/sast-python
        with:
          baseDir: ${{ matrix.service }}
          python-version: ${{ matrix.python-version }}

  run-python-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    if: success() || failure() # making lint optional for now
    needs: [list-all-service-directories]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9.12"]
        service: ${{ fromJSON(needs.list-all-service-directories.outputs.python-directories) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: ./.github/actions/test-python
        name: Run unit tests
        with:
          baseDir: ${{ matrix.service }}
          python-version: ${{ matrix.python-version }}
          voxel-pip-registry-token: ${{ secrets.FIFTYONE_TOKEN }}

  run-python-integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    if: success() || failure() # making lint optional for now
    needs: [list-all-service-directories]
    services:
      localstack:
        image: localstack/localstack:latest
        env:
          SERVICES: sqs,sns,s3
          DEFAULT_REGION: eu-west-1
          AWS_ACCESS_KEY_ID: localkey
          AWS_SECRET_ACCESS_KEY: localsecret
        ports:
          - 4566:4566
          - 4571:4571
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9.12"]
        service: ${{ fromJSON(needs.list-all-service-directories.outputs.python-directories) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: ./.github/actions/test-python
        name: Run integration tests
        with:
          baseDir: ${{ matrix.service }}
          python-version: ${{ matrix.python-version }}
          voxel-pip-registry-token: ${{ secrets.FIFTYONE_TOKEN }}
          extra-pytest-args: -m integration
          mode: integration

  run-javascript-tests:
    name: Javascript tests
    runs-on: ubuntu-latest
    if: success() || failure() # making lint optional for now
    needs: [list-all-service-directories]
    strategy:
      fail-fast: false
      matrix:
        node-version: ["18.x"]
        service: ${{ fromJSON(needs.list-all-service-directories.outputs.javascript-directories) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: ./.github/actions/test-javascript
        with:
          baseDir: ${{ matrix.service }}
          node-version: ${{ matrix.node-version }}
          npm-registry: https://artifactory.boschdevcloud.com/artifactory/api/npm/lab000003-bci-npm-virtual/
          npm-auth: ${{ secrets.NPM_AUTH }}
          npm-email: ${{ secrets.NPM_EMAIL }}


  sonarqube-scan:
    name: Sonarqube scan on code
    runs-on: ubuntu-latest
    needs: [run-python-tests, run-python-integration-tests, run-javascript-tests, run-python-sast]
    if: success() || failure()
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get static analysis and coverage reports
        uses: actions/download-artifact@v3

      - name: Collect SAST reports
        id: sast-reports
        run: |
          echo "::set-output name=report-paths::$(ls --format=commas *-security-report/*.json | tr -s '[:blank:]' ',' | tr -d '\n')"

      - name: Sonarqube scan
        id: sonarqube-scan
        uses: ./.github/actions/scan-code
        timeout-minutes: 5
        with:
          baseDir: "./"
          url: ${{ secrets.SONAR_HOST_URL }}
          token: ${{ secrets.SONAR_TOKEN }}
          args:  >
            -Dsonar.pullrequest.key=${{ github.event.number }}
            -Dsonar.pullrequest.branch=${{ github.head_ref }}
            -Dsonar.pullrequest.base=master
            -Dsonar.python.bandit.reportPaths=${{ steps.sast-reports.outputs.report-paths }}

      - name: Sonarqube quality gate status
        run: "echo quality gate result: ${{steps.sonarqube-scan.outputs.scan-success}}"

      - name: Check python unit test matrix status
        if: ${{ needs.run-python-tests.result != 'success' }}
        run: exit 1
