name: Build Docker image and update k8s config for changed services

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      services:
        description: Services to build separated by comma, leave empty for all
        required: false

env:
  AWS_DEFAULT_REGION: eu-central-1
  AWS_ROLE: arn:aws:iam::081962623310:role/github-oidc-access
  EXCLUDED_DIRS: '[".git", ".github", ".vscode", "baseaws"]'
  GITHUB_ACTIONS_USER: "GitHub Actions"
  GITHUB_ACTIONS_EMAIL: "<41898282+github-actions[bot]@users.noreply.github.com>"

permissions:
  id-token: write
  contents: write

jobs:
  determine-changed-services:
    name: Determine which services to build
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.changed-services.outputs.services }}
      git-tag: ${{ steps.git-tag-push.outputs.tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Determine services to build
        id: changed-services
        env:
          # Compare pushes to master with event.before and branch builds with master
          GITHUB_EVENT_BEFORE: ${{ github.ref_name == 'master' && github.event.before || 'origin/master' }}
          GITHUB_EVENT_AFTER: ${{ github.event.after }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          INPUT_SERVICES: ${{ inputs.services }}
        run: python ./.github/workflows/determine_services_to_build.py

      - name: Git tag & push
        id: git-tag-push
        if: steps.changed-services.outputs.services != '[]'
        run: |
          TAG=$(date +%F)-$(git rev-parse --short HEAD)
          if [ '${{ github.ref_name }}' != 'master' ]; then
            SANITIZED_BRANCH_NAME=$(echo ${{ github.ref_name }} | tr '/' '-' | tr -dc '[:alnum:]-' | tr '[:upper:]' '[:lower:]')
            TAG=$TAG-$SANITIZED_BRANCH_NAME
          fi
          echo "Using this git tag: $TAG"
          git config --local user.email ${GITHUB_ACTIONS_EMAIL}
          git config --local user.name ${GITHUB_ACTIONS_USER}
          git tag -f -a $TAG -m "Created on $(date +'%F %T')"
          git push origin $TAG -f
          echo "::set-output name=tag::$TAG"

      - name: Add summary
        if: steps.changed-services.outputs.services == '[]'
        run: |
          echo "No service change detected, nothing to build." >> $GITHUB_STEP_SUMMARY


  build-image:
    needs: determine-changed-services
    name: Build image for
    runs-on: ubuntu-latest
    if: needs.determine-changed-services.outputs.services != '[]'
    strategy:
      fail-fast: false
      matrix:
        service: ${{fromJSON(needs.determine-changed-services.outputs.services)}}
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1.6.1
        with:
          role-to-assume: ${{ env.AWS_ROLE }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1.3.3

      - name: Build and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          SERVICE_LOWERCASE=$(echo ${{ matrix.service }} | tr '[:upper:]' '[:lower:]')
          TAG=$ECR_REGISTRY/$SERVICE_LOWERCASE:${{ needs.determine-changed-services.outputs.git-tag }}
          docker build -f ./${{ matrix.service }}/Dockerfile -t $TAG \
            --build-arg TOKEN=${{ secrets.FIFTYONE_TOKEN }} \
            --build-arg NPM_AUTH=${{ secrets.NPM_AUTH }} \
            --build-arg NPM_EMAIL=${{ secrets.NPM_EMAIL}} \
            .
          
          docker push $TAG
          echo "Service ${{ matrix.service }} was built and pushed." >> $GITHUB_STEP_SUMMARY
          echo "Image tag: $TAG" >> $GITHUB_STEP_SUMMARY

  update-image-tag:
    name: Update image tags in dev K8s manifests
    if: github.ref_name == 'master'
    needs: [determine-changed-services, build-image]
    runs-on: ubuntu-latest
    env:
      ECR_REPO: 081962623310.dkr.ecr.eu-central-1.amazonaws.com
      NEW_TAG: ${{ needs.determine-changed-services.outputs.git-tag }}

    steps:
      - name: Checkout kubernetes_config
        uses: actions/checkout@v3
        with:
          repository: bosch-rc-dev/kubernetes_config
          ssh-key: ${{ secrets.K8S_CONFIG_SSH_KEY }}

      - name: Update image tags on kubernetes_config
        run: |
          SERVICES=${{ toJson(needs.determine-changed-services.outputs.services) }}
          echo $SERVICES | jq -c '.[]' | tr -d '\"' | while read SERVICE; do
            SERVICE_LOWER=$(echo $SERVICE | tr '[:upper:]' '[:lower:]')
            SERVICE_UPPER=$(echo $SERVICE | tr '[:lower:]' '[:upper:]')
            pushd apps/dev/$SERVICE_LOWER/ > /dev/null
          
            kustomize edit set image "<CONTAINER_IMAGE_TAG_${SERVICE_UPPER}>=${ECR_REPO}/${SERVICE_LOWER}:${NEW_TAG}"
            echo "##### ${SERVICE}: Updated images in Kustomize file"
            echo
            cat kustomization.yaml
            echo
            git add kustomization.yaml
            popd > /dev/null
          done

      - name: Commit new image tags
        run: |
          git config --local user.email ${GITHUB_ACTIONS_EMAIL}
          git config --local user.name ${GITHUB_ACTIONS_USER}
          SERVICES=${{ toJson(needs.determine-changed-services.outputs.services) }}
          git commit \
            -m "[Image Update] Update images to ${NEW_TAG}" \
            -m "Updated services: '${SERVICES}'" \
            -m "Images are using code of Git tag https://github.com/bosch-rc-dev/container_scripts/tree/${NEW_TAG}"
          git push
