<div class="items">
  <div class="activity-container">
    <div>Non Physical Aggression</div>
    <mat-radio-group
      class="activities"
      [disabled]="selectedLabelIndex === null"
      [value]="activities.nonPhysicalAggression.values[activities.nonPhysicalAggression.selected]"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let value of activities.nonPhysicalAggression.values; index as i"
        (change)="radioChange('nonPhysicalAggression', i)"
        [value]="value"
        >{{ value.value }}<sup>{{ value.identifier }}</sup></mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div class="activity-container">
    <div>Physical Aggression</div>
    <mat-radio-group
      class="activities"
      [disabled]="selectedLabelIndex === null"
      [value]="activities.physicalAggression.values[activities.physicalAggression.selected]"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let value of activities.physicalAggression.values; index as i"
        (change)="radioChange('physicalAggression', i)"
        [value]="value"
        >{{ value.value }}<sup>{{ value.identifier }}</sup></mat-radio-button
      >
    </mat-radio-group>
    <mat-slide-toggle
      class="radio-button"
      (change)="toggleChange('physicalAggression.weapon', $event)"
      [checked]="activities.physicalAggression.weapon.value"
      [disabled]="selectedLabelIndex === null"
      >Weapon <sup>{{ activities.physicalAggression.weapon.identifier }}</sup></mat-slide-toggle
    >
  </div>
  <div class="activity-container">
    <mat-form-field class="block">
      <input matInput type="number" [disabled]="selectedLabelIndex === null" [value]="activities.occupants" placeholder="Occupants" aria-label="number input" />
      <span matSuffix>
        <button mat-icon-button [disabled]="selectedLabelIndex === null">
          <mat-icon fontIcon="Bosch-Ic-less-minimize" aria-label="minus" (click)="changeOccupants(activities.occupants - 1)"></mat-icon>
        </button>
        <button mat-icon-button [disabled]="selectedLabelIndex === null">
          <mat-icon fontIcon="Bosch-Ic-add" aria-label="add" (click)="changeOccupants(activities.occupants + 1)"></mat-icon>
        </button>
      </span>
    </mat-form-field>
    <mat-slide-toggle class="block radio-button" (change)="toggleChange('night', $event)" [checked]="activities.night" [disabled]="selectedLabelIndex === null"
      >Night</mat-slide-toggle
    >
    <mat-slide-toggle
      class="block radio-button"
      style="margin-top: 16px"
      (change)="toggleChange('driving', $event)"
      [checked]="activities.driving"
      [disabled]="selectedLabelIndex === null"
      >Driving</mat-slide-toggle
    >
  </div>
</div>
